
@{
    ViewBag.Title = "ProductoView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">PRODUCTOS</h2>
<hr />

<div class="row">
    <div class="col-sm-12">
        @Html.Partial("ProductoPanel")
    </div>
</div>

