
@{
    ViewBag.Title = "ListaMercadoView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"> CREAR LISTA DE SUPERMERCADO </h2>
<br />

@* BODY CONTENT *@

<div class="row">
    <div class="col-sm-12">
        @Html.Partial("PanelContainer")
    </div>
</div>
